/* Global */
body{
  background-color: #FFFAFA;
  font-family: 'Quicksand', sans-serif;
}

/* physical elements */
.quote{
  width: 40%;
  padding-top: 20px;
  padding-left: 15px;
  opacity: 0.7;
  filter: alpha(opacity=70);
  float: left;
}
#moto2{
  padding-top: 30px;
  font-family: 'Prata', serif;
  font-size: 150%;
  padding-right: 15%;
  padding-left: 15%;
}
#moto{
  font-family: 'Quicksand', sans-serif;
  clear: both;
  float: right;
  margin-top: -13px;
  padding-right: 10px;
}
#coName{
  font-family: 'Prata', serif;
  float: right;
  font-size: 180%;
  padding-right: 10px;
}
#name{
  font-family: 'Quicksand', sans-serif;
  float: left;
  padding-top: 9px;
  padding-left: 10px;
}
#intro{
  padding-right: 15%;
  padding-left: 15%;
  font-family: 'Quicksand', sans-serif;
}
#list{
  padding-right: 35%;
  padding-left: 25%;
  font-family: 'Quicksand', sans-serif;
}
#moto3{
  padding-top: 30px;
  font-family: 'Prata', serif;
  font-size: 150%;
  padding-right: 35%;
  padding-left: 5%;
}
#leftSide{
  float: left;
  padding-left: 30px;
  width: 50%;
}
#listCenter{
  float: right;
}
#rightSide{
  float: right;
  padding-right: 30px;
  width: 50%;
}
#check{
  width: 180px;
  padding-top: 55px;
  float: left;
}

/* layout */
.banner{
  height: 40px;
  border-bottom: 1px solid black;
  text-align: right;
}
#banner2{
  clear: both;
}
#photo1{
  clear: both;
  background-image: url("insideShop.jpg");
  height: 330px;
  margin-top: 55px;
  background-position: center;
  background-size: cover;
}
#firstComtentBlock{
  height: 275px;
}
#photo2{
  clear: both;
  background-image: url("shop.jpg");
  height: 330px;
  margin-top: 55px;
  background-position: center;
  background-size: cover;
}
#SecondComtentBlock{
  height: 275px;
}
#photo3{
  clear: both;
  background-image: url("office.jpg");
  height: 330px;
  margin-top: 55px;
  background-position: center;
  background-size: cover;
}
#ThirdComtentBlock{
  height: 275px;
}
#photo4{
  clear: both;
  background-image: url("peopleTable.jpg");
  height: 330px;
  margin-top: 55px;
  background-position: center;
  background-size: cover;
}
#bottombanner{
  margin-top: 10px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
